.list-group-item { border-left: 4px solid transparent; }
.list-group-item.list-group-item-danger { border-left-color: var(--error); }
.list-group-item.list-group-item-warning { border-left-color: var(--warning); }
